<div class="section" ng-controller="ViewPostController">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-3 blog-sidebar">
                <h4>Search our Blog</h4>

                <form>
                    <div class="input-group">
                        <input class="form-control input-md" id="appendedInputButtons" type="text">
								<span class="input-group-btn">
									<button class="btn btn-md" type="button">Search</button>
								</span>
                    </div>
                </form>
                <h4>Categories</h4>
                <ul class="blog-categories">
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Sed sit amet metus</a></li>
                    <li><a href="#">Nunc et diam </a></li>
                    <li><a href="#">Quisque</a></li>
                </ul>
                <h4>Archive</h4>
                <ul>
                    <li><a href="#">January 2013</a></li>
                    <li><a href="#">February 2013</a></li>
                    <li><a href="#">March 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                </ul>
            </div>
            <!-- End Sidebar -->
            <div class="col-sm-9">
                <div class="blog-post blog-single-post">
                    <div class="single-post-title">
                        <h3>{{storyData.title}}</h3>
                    </div>
                    <div class="single-post-info">
                        <i class="glyphicon glyphicon-time"></i>{{storyData.created | date:'medium'}}
                        <!--<a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>-->
                    </div>
                    <div class="single-post-content">
                        <p ng-bind-html="storyData.content">

                        </p>

                    </div>
                </div>
            </div>
            <!-- End Blog Post -->
        </div>
    </div>
</div>