<div class="section" ng-controller="ViewPostController">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-3 blog-sidebar">
                <h4>Search our Blog</h4>

                <form>
                    <div class="input-group">
                        <input class="form-control input-md" placeholder="Enter search keyword" ng-model="story.query"
                               type="text">
								<span class="input-group-btn">
									<button class="btn btn-md" type="button" ng-click="getSearchQuery()">Search</button>
								</span>
                    </div>
                </form>
                <h4>Categories</h4>
                <ul class="blog-categories">
                    <li><a ng-click="getSearchCategory('java')">Java</a></li>
                    <li><a ng-click="getSearchCategory('javascript')">Javascript</a></li>
                    <li><a ng-click="getSearchCategory('python')">Python </a></li>
                    <li><a ng-click="getSearchCategory('node.js')">Node.js</a></li>
                    <li><a ng-click="getSearchCategory('pike')">Pike</a></li>
                </ul>
            </div>
            <!-- End Sidebar -->
            <div class="col-sm-9">
                <div class="blog-post blog-single-post">
                    <div class="single-post-title">
                        <h3>{{storyData.title}}</h3>
                    </div>
                    <div class="single-post-info">
                        <i class="glyphicon glyphicon-time"></i>{{storyData.created | date:'medium'}}
                        <!--<a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>-->
                    </div>
                    <div class="single-post-content">
                        <p style="font-size: medium" ng-bind-html="storyData.content">

                        </p>

                    </div>
                </div>
            </div>
            <!-- End Blog Post -->
        </div>
    </div>
</div>