<div class="section" ng-controller="UpdatePostController">
    <div class="container">
        <div class="row">

            <h3>Update existing post</h3>

            <div class="row">
                <div class="col-lg-6">
                    <input type="text" id="title" placeholder="Enter Post Title Here" class="form-control"
                           ng-model="story.title">
                </div>
                <div class="col-lg-6">
                    <select id="category" class="form-control" ng-model="story.category">
                        <option value="">Select Category</option>
                        <option value="javascript">Javascript</option>
                        <option value="java">Java</option>
                        <option value="python">Python</option>
                        <option value="node.js">Node.js</option>
                        <option value="pike">Pike</option>
                        <option value="c/c++">C / C++</option>
                        <option value="go language">Go language</option>
                        <option value="visual basic">Visual Basic</option>
                        <option value="matlab">Matlab</option>
                    </select>
                </div>
            </div>
            <br>

            <div text-angular id="content"
                 ng-required="true"
                 ng-model="story.content"
                 ta-toolbar="[
      ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
      ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
      ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent'],
      ['html', 'insertImage','insertLink', 'insertVideo']]"></div>
            <br>
            <button class="btn btn-primary" ng-click="previewContent()">Preview</button>
            <button class="btn btn-danger" ng-click="updateDraft()">Update and draft</button>
            <button class="btn btn-success" ng-click="updateStory()">Update and publish</button>

        </div>

        <!-- Viewing the sample post data-->
        <hr>
        <div class="row" ng-show="showPreview">
            <div class="pricing-wrapper col-md-12">
                <div class="pricing-plan">
                    <!--Pricing Plan Ribbon -->
                    <div class="ribbon-wrapper">
                        <div class="price-ribbon ribbon-green">Preview</div>
                    </div>
                    <h1 class="pricing-plan-title" style="text-align: left">{{title}}</h1>

                    <div ng-bind-html="content">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>